h1 {font-size: 18pt;
      font-family: SansSerif;
      bgcolor: white;
      margin-left: 3}
h2 {font-size: 15pt;
      font-family: SansSerif;
      bgcolor: white;
      margin-left: 3}
body , h3 {font-size: 12pt;
           font-family: SansSerif;
           bgcolor: white;
           margin-left: 3}
